html
	head
		title Speed Tests
	body
		table
			tr
				th App
				th Runtime Version
				th Total Time (s)
				th Date Run
			each val in results 
				tr
					td
						a(href='details.html/#{val._id}')!= val.name
					td!= val.runtimeVersion
					td!= val.totalTime
					td!= val.date
